@{
    ViewData["Title"] = "Pedido - Resumo";
}

@Model Order;

<br/>
<h3>Lista de Pedido</h3>
<br />

<div class="panel panel-defualt">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h5>Nº do Pedido: @(Model.Id) </h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h6>Information Buyer: </h6>
            </div>
            <div class="col-md-3">
                @Model.Client.Email
            </div>
            <div class="col-md-3">
                <div>@Model.Client.Name</div>
                <div>@Model.Client.Telephone</div>
            </div>

            <div class="col-md-6">
                <h5>Endereço de Entrega</h5>
                <div>@Model.Client.Address Complement - @Model.Client.Complement</div>
                <div>@Model.Client.Neighborhood / @Model.Client.State</div> <div>@Model.Client.Country</div>
                <div>Zipcode: @Model.Client.Zipcode</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <h4>Item</h4>
            </div>
            <div class="col-md-2">
                <h4>Quantidade</h4>
            </div>
        </div>

        @foreach (var item in Model.itens)
        {
            <div class="row">
                <div class="col-md-10">
                    <div>@item.Product.Name</div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">@item.Quatity</div>
                </div>
            </div>
        }
    </div>
</div>